### authors: Rashi Gupta (rashi.gupta@cern.ch)
### authors: Ravindra Singh (ravindra.singh@cern.ch)
### electrons from pi0 and eta enhancement

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

### switch off all decay channels
111:onMode = off
221:onMode = off

111:onIfAny = 11      # pi0 -> e+ e- gamma
221:onIfAny = 11      # eta -> e+ e- gamma
