### authors: Fabrizio Grosa (fabrizio.grosa@cern.ch)
###          Grazia Luparello (Grazia.Luparello@cern.ch)
###          Antonio Palasciano (antonio.palasciano@cern.ch)
###          Jonghan Park (jonghan@cern.ch)
### electrons from heavy-flavour hadrons and from light neutral mesons
### last update:  August 2025

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

### switching on Pythia Mode2
ColourReconnection:mode 1
ColourReconnection:allowDoubleJunRem off
ColourReconnection:m0 0.3
ColourReconnection:allowJunctions on
ColourReconnection:junctionCorrection 1.20
ColourReconnection:timeDilationMode 2
ColourReconnection:timeDilationPar 0.18
StringPT:sigma 0.335
StringZ:aLund 0.36
StringZ:bLund 0.56
StringFlav:probQQtoQ 0.078
StringFlav:ProbStoUD 0.2
StringFlav:probQQ1toQQ0join 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref 2.15
BeamRemnants:remnantMode 1
BeamRemnants:saturation 5

# Correct decay lengths (wrong in PYTHIA8 decay table)
# Lb
5122:tau0 = 0.4390
# Xic0
4132:tau0 = 0.0455
# OmegaC
4332:tau0 = 0.0803


### switch off all decay channels
111:onMode = off
221:onMode = off

411:onMode = off
421:onMode = off
431:onMode = off
4122:onMode = off
4132:onMode = off
4232:onMode = off
4332:onMode = off

511:onMode = off
521:onMode = off
531:onMode = off
5122:onMode = off
5132:onMode = off
5232:onMode = off
5332:onMode = off

###Semimuonic decays of charm

### pi0 -> e
111:onIfAny = 11 -11
111:onIfAny = 22 11 -11
### eta -> e
221:onIfAny = 11 -11
221:onIfAny = 22 11 -11

### D+/- -> e + X
411:onIfAny = -11 12
### D0 -> e + X
421:onIfAny = -11 12
### D_s -> e + X
431:onIfAny = -11 12
### Lambda_c -> e + X
4122:onIfAny = -11 12
### Xsi0_c -> e + X
4132:onIfAny = -11 12
### Xsi+_c -> e + X
4232:onIfAny = -11 12
### Omega_c -> e + X
4332:onIfAny = -11 12

### B0 -> e + X
511:onIfAny = -11 12
### B+/- -> e + X
521:onIfAny = -11 12
### B_s -> e + X
531:onIfAny = -11 12
### Lambda_b -> e + X
5122:onIfAny = -11 12
### Xsi_b -> e + X
5132:onIfAny = -11 12
### Xsi0_b -> e + X
5232:onIfAny = -11 12
### Omega_b -> e + X
5332:onIfAny = -11 12
