### authors: Rashi Gupta (rashi.gupta@cern.ch)
### authors: Ravindra Singh (ravindra.singh@cern.ch)
### electrons from pi0 and eta enhancement

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

### switching on Pythia Mode2
ColourReconnection:mode 1
ColourReconnection:allowDoubleJunRem off
ColourReconnection:m0 0.3
ColourReconnection:allowJunctions on
ColourReconnection:junctionCorrection 1.20
ColourReconnection:timeDilationMode 2
ColourReconnection:timeDilationPar 0.18
StringPT:sigma 0.335
StringZ:aLund 0.36
StringZ:bLund 0.56
StringFlav:probQQtoQ 0.078
StringFlav:ProbStoUD 0.2
StringFlav:probQQ1toQQ0join 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref 2.15
BeamRemnants:remnantMode 1
BeamRemnants:saturation 5


### switch off all decay channels
111:onMode = off
221:onMode = off

111:onIfAny = 11      # pi0 -> e+ e- gamma
221:onIfAny = 11      # eta -> e+ e- gamma
