### authors: Fabrizio Grosa (fabrizio.grosa@cern.ch)
###          Ruiqi Yin (ruiqi.yin@cern.ch)
### last update:  October 2025

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 5360. 		# GeV

### processes: c-cbar and b-bbar processes
HardQCD:hardccbar on
HardQCD:hardbbbar on
HardQCD:gg2ccbar on
HardQCD:qqbar2ccbar on
HardQCD:gg2bbbar on
HardQCD:qqbar2bbbar on

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

### switching on Pythia Mode2
ColourReconnection:mode 1
ColourReconnection:allowDoubleJunRem off
ColourReconnection:m0 0.3
ColourReconnection:allowJunctions on
ColourReconnection:junctionCorrection 1.20
ColourReconnection:timeDilationMode 2
ColourReconnection:timeDilationPar 0.18
StringPT:sigma 0.335
StringZ:aLund 0.36
StringZ:bLund 0.56
StringFlav:probQQtoQ 0.078
StringFlav:ProbStoUD 0.2
StringFlav:probQQ1toQQ0join 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref 2.15
BeamRemnants:remnantMode 1
BeamRemnants:saturation 5

# Correct decay lengths (wrong in PYTHIA8 decay table)
# Lb
5122:tau0 = 0.4390
# Xic0
4132:tau0 = 0.0455
# OmegaC
4332:tau0 = 0.0803

### Force charm baryon decay modes (Ξc and Ωc)
### D mesons use default PYTHIA8 branching ratios

## Λc decays (optional, can be kept for reference)
### Λc+ -> p K- π+ (36%)
4122:oneChannel = 1 0.14400 0 2212 -321 211       ### Λc+ -> p K- π+ (non-resonant) 3.5%
4122:addChannel = 1 0.08100 100 2212 -313         ### Λc+ -> p K*0(892) 1.96%
4122:addChannel = 1 0.04500 100 2224 -321         ### Λc+ -> Delta++ K- 1.08%
4122:addChannel = 1 0.09000 100 102134 211        ### Λc+ -> Lambda(1520) K- 2.20e-3
### Λc+ -> p K0S (36%)
4122:addChannel = 1 0.36000 0 2212 311            ### Λc+ -> p K0S 1.59%
### Λc+ -> p K- π+ π0 (small, 3%)
4122:addChannel = 1 0.03000 0 2212 -321 211 111   ### Λc+ -> p K- π+ π0 (non-resonant) 4.6%
### Λc+ -> p π- π+ (12.50%)
4122:addChannel = 1 0.12500 0 2212 -211 211       ### Λc+ -> p π+ π+ 4.59%
### Λc+ -> p K- K+ (12.50%)
4122:addChannel = 1 0.12500 0 2212 333            ### Λc+ -> p phi 1.06%

## Xic decays
### Ξc+ -> p K- π+ (35%)
4232:oneChannel = 1 0.17500 0 2212 -321 211        ### Ξc+ -> p K- π+ 6.18e-3
4232:addChannel = 1 0.17500 0 2212 -313            ### Ξc+ -> p antiK*0(892)
### Ξc+ -> Ξ- π+ π+ (35%) (set the same as Ξc+ -> p K- π+)
4232:addChannel = 1 0.35000 0 3312 211 211        ### Ξc+ -> Ξ- π+ π+ 2.86%
### Ξc+ -> p φ (10%)
4232:addChannel = 1 0.10000 0 2212 333             ### Ξc+ -> p φ
### Ξc+ -> sigma+ π+ π- (10%)
4232:addChannel = 1 0.12500 0 3222 -211 211        ### Ξc+ -> sigma+ π- π+ 1.37%
### Ξc+ -> Ξ*0 π+ (10%)
4232:addChannel = 1 0.12500 0 3324 211

### add Xic0 decays absent in PYTHIA8 decay table
4132:oneChannel = 1 0.0143 0 3312 211

### add OmegaC decays absent in PYTHIA8 decay table
4332:oneChannel = 1 0.5 0 3334 211
4332:addChannel = 1 0.5 0 3312 211

# Allow the decay of resonances in the decay chain (only for charm baryons)
### for Λc -> Delta++ K-
2224:onMode = off
2224:onIfAll = 2212 211
### for Λc -> Lambda(1520) K-
102134:onMode = off
102134:onIfAll = 2212 321
### for Λc -> p K*0(892)
313:onMode = off
313:onIfAll = 321 211
### for Λc -> p phi
333:onMode = off
333:onIfAll = 321 321
### for Xic0 -> pi Xi -> pi pi Lambda -> pi pi pi p 
### and Omega_c -> pi Xi -> pi pi Lambda -> pi pi pi p
3312:onMode = off
3312:onIfAll = 3122 -211
3122:onMode = off
3122:onIfAll = 2212 -211
### for Omega_c -> pi Omega -> pi K Lambda -> pi K pi p
3334:onMode = off
3334:onIfAll = 3122 -321

# Switch off charm baryon decay channels (D mesons use PYTHIA8 defaults)
4122:onMode = off
4232:onMode = off
4132:onMode = off
4332:onMode = off

# Allow the decay of charm baryons
### Λc -> pK0s
4122:onIfMatch = 2212 311 
### Λc -> p K- π+ π0
4122:onIfMatch = 2212 321 211
### Λc -> p K*
4122:onIfMatch = 2212 313
### Λc -> Delta++ K
4122:onIfMatch = 2224 321
### Λc -> Lambda(1520) π
4122:onIfMatch = 102134 211
### Λc -> p K- π+ π0
4122:onIfMatch = 2212 321 211 111
### Λc -> p π π
4122:onIfMatch = 2212 211 211
### Λc -> p K K
4122:onIfMatch = 2212 333

### Ξc+ -> p K- π+
4232:onIfMatch = 2212 321 211
### Ξc+ -> p antiK*0(892)
4232:onIfMatch = 2212 313
### Ξc+ -> p φ
4232:onIfMatch = 2212 333
### Ξc+ -> sigma- π+ π+
4232:onIfMatch = 3222 211 211
### Ξc+ -> Ξ*0 π+, Ξ*0 -> Ξ- π+
4232:onIfMatch = 3324 211
### Ξc+ -> Ξ- π+ π+
4232:onIfMatch = 3312 211 211
    
### Xic0 -> Xi- pi+
4132:onIfMatch = 3312 211
### Xic0 -> Omega- Ka+
4132:onIfMatch = 3334 321

### Omega_c -> Omega pi
4332:onIfMatch = 3334 211
### Omega_c -> Xi pi
4332:onIfMatch = 3312 211
### Omega_c -> Omega- Ka+
4332:onIfMatch = 3334 321
