### authors: Fabrizio Grosa (fabrizio.grosa@cern.ch)
###          Cristina Terrevoli (cristina.terrevoli@cern.ch)
###          Fabio Catalano (fabio.catalano@cern.ch)
### last update:  November 2023

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

### switching on Pythia Mode2
ColourReconnection:mode 1
ColourReconnection:allowDoubleJunRem off
ColourReconnection:m0 0.3
ColourReconnection:allowJunctions on
ColourReconnection:junctionCorrection 1.20
ColourReconnection:timeDilationMode 2
ColourReconnection:timeDilationPar 0.18
StringPT:sigma 0.335
StringZ:aLund 0.36
StringZ:bLund 0.56
StringFlav:probQQtoQ 0.078
StringFlav:ProbStoUD 0.2
StringFlav:probQQ1toQQ0join 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref 2.15
BeamRemnants:remnantMode 1
BeamRemnants:saturation 5

# Correct decay lengths (wrong in PYTHIA8 decay table)
# Lb
5122:tau0 = 0.4390
# Xic0
4132:tau0 = 0.0455
# OmegaC
4332:tau0 = 0.0803

### Force golden charm hadrons decay modes for D2H studies
### add D0 decays absent in PYTHIA8 decay table and set BRs from PDG for other
421:oneChannel = 1 0.0389 0 -321 211
421:addChannel = 1 0.00389 0 -321 211 111
### add D+ decays absent in PYTHIA8 decay table and set BRs from PDG for other
411:oneChannel = 1 0.0752 0 -321 211 211
411:addChannel = 1 0.0104 0 -313 211
411:addChannel = 1 0.0156 0 311 211
411:addChannel = 1 0.0752 0 333 211 # to have the same amount of D+->KKpi and D+->Kpipi
## add Lc decays absent in PYTHIA8 decay table and set BRs from PDG for other
4122:oneChannel = 1 0.0196 100 2212 -313
4122:addChannel = 1 0.0108 100 2224 -321
4122:addChannel = 1 0.022 100 102134 211
4122:addChannel = 1 0.035 0 2212 -321 211
4122:addChannel = 1 0.0159 0 2212 311
### add Xic+ decays absent in PYTHIA8 decay table
4232:addChannel = 1 0.2 0 2212 -313
4232:addChannel = 1 0.2 0 2212 -321 211
4232:addChannel = 1 0.2 0 3324 211
4232:addChannel = 1 0.2 0 3312 211 211
### add Xic0 decays absent in PYTHIA8 decay table
4132:addChannel = 1 0.0143 0 3312 211
### add OmegaC decays absent in PYTHIA8 decay table
4332:addChannel = 1 0.5 0 3334 211
4332:addChannel = 1 0.5 0 3312 211

### K* -> K pi
313:onMode = off
313:onIfAll = 321 211
### for Ds -> Phi pi+
333:onMode = off
333:onIfAll = 321 321
### for D0 -> rho0 pi+ k-
113:onMode = off
113:onIfAll = 211 211
### for Lambda_c -> Delta++ K-
2224:onMode = off
2224:onIfAll = 2212 211
### for Lambda_c -> Lambda(1520) K-
102134:onMode = off
102134:onIfAll = 2212 321
### for Xic0 -> pi Xi -> pi pi Lambda -> pi pi pi p 
### and Omega_c -> pi Xi -> pi pi Lambda -> pi pi pi p
3312:onMode = off
3312:onIfAll = 3122 -211
3122:onMode = off
3122:onIfAll = 2212 -211
### for Omega_c -> pi Omega -> pi K Lambda -> pi K pi p
3334:onMode = off
3334:onIfAll = 3122 -321

### switch off all decay channels
411:onMode = off
421:onMode = off
431:onMode = off
4122:onMode = off
4232:onMode = off
4132:onMode = off
443:onMode = off
4332:onMode = off
511:onMode = off
521:onMode = off
531:onMode = off
5122:onMode = off

### D0 -> K pi
421:onIfMatch = 321 211
### D0 -> K pi pi0
421:onIfMatch = 321 211 111

### D+/- -> K pi pi 
411:onIfMatch = 321 211 211
### D+/- -> K* pi
411:onIfMatch = 313 211
### D+/- -> phi pi
411:onIfMatch = 333 211

### D_s -> K K*
431:onIfMatch = 321 313
### D_s -> Phi pi
431:onIfMatch = 333 211

### Lambda_c -> p K*
4122:onIfMatch = 2212 313
### Lambda_c -> Delta K
4122:onIfMatch = 2224 321
### Lambda_c -> Lambda(1520) pi
4122:onIfMatch = 102134 211
### Lambda_c -> p K pi
4122:onIfMatch = 2212 321 211
### Lambda_c -> pK0s
4122:onIfMatch = 2212 311 

### Xic+ -> pK*0
4232:onIfMatch = 2212 313
### Xic+ -> p K- pi+
4232:onIfMatch = 2212 321 211
### Xic+ -> Xi*0 pi+, Xi*->Xi- pi+
4232:onIfMatch = 3324 211
### Xic+ -> Xi- pi+ pi+
4232:onIfMatch = 3312 211 211
    
### Xic0 -> Xi- pi+
4132:onIfMatch = 3312 211

### Omega_c -> Omega pi
4332:onIfMatch = 3334 211
### Omega_c -> Xi pi
4332:onIfMatch = 3312 211

### Force also golden beauty hadrons decay modes for D2H studies 
### add B0 decays
511:oneChannel = 1 0.5 0 -411 211
511:addChannel = 1 0.5 0 -411 321
### add B+ decays
521:oneChannel = 1 0.5 0 -421 211
521:addChannel = 1 0.5 0 -421 321
### add Bs decays
531:oneChannel = 1 0.5 0 -431 211
531:addChannel = 1 0.5 0 -431 321
### add Lb decays
5122:oneChannel = 1 0.5 0 4122 -211
5122:addChannel = 1 0.5 0 4122 -321

### B0 -> D pi
511:onIfMatch = 411 211
### B0 -> D K
511:onIfMatch = 411 321
### B+ -> D0 pi
521:onIfMatch = 421 211
### B+ -> D0 K
521:onIfMatch = 421 321
### Bs -> Ds pi
531:onIfMatch = 431 211
### Bs -> Ds rho
531:onIfMatch = 431 321
### Lb -> Lc pi
5122:onIfMatch = 4122 211
### Lb -> Lc K
5122:onIfMatch = 4122 321
