### Omega_c
#4332:all = Omega_c0 Omega_cbar0 2 0 0 2.69520 0. 0. 0. 10

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 100.

# Correct OmegaC decay length (wrong in PYTHIA8 decay table) (mm/c)
4332:tau0 = 0.08000000000

### switching on Pythia Mode2
ColourReconnection:mode 1
ColourReconnection:allowDoubleJunRem off
ColourReconnection:m0 0.3
ColourReconnection:allowJunctions on
ColourReconnection:junctionCorrection 1.20
ColourReconnection:timeDilationMode 2
ColourReconnection:timeDilationPar 0.18
StringPT:sigma 0.335
StringZ:aLund 0.36
StringZ:bLund 0.56
StringFlav:probQQtoQ 0.078
StringFlav:ProbStoUD 0.2
StringFlav:probQQ1toQQ0join 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref 2.15
BeamRemnants:remnantMode 1
BeamRemnants:saturation 5

### add OmegaC decay absent in PYTHIA8 decay table
4332:addChannel = 1 0.02 0 3312 211

### force the OmegaC to decay in the Omega_c -> Xi pi channel
4332:onMode = off
4332:onIfMatch = 3312 211

### force the Xi to decay in the Xi -> Lambda pi channel
3312:onMode = off
3312:onIfAll = 3122 211

### force the Lambda to decay in the Lambda -> p pi channel
3122:onMode = off
3122:onIfAll = 2212 211
