### author: Fabrizio Grosa (fabrizio.grosa@cern.ch)
### since:  May 2026

### beams (not relevant)
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

### add the c-deuteron
### id:all = name antiName spinType chargeType colType m0 mWidth mMin mMax tau0
2010010020:all = CDeuteron AntiCDeuteron 1 3 0 3.226 0 3.226 3.226 1.
2010010020:mayDecay = on

# same as Λc+ -> p K- π+ including resonances + a neutron
2010010020:oneChannel = 1 0.14400 0 2112 2212 -321 211       ### Λc+ -> p K- π+ (non-resonant) 3.5%
2010010020:addChannel = 1 0.08100 100 2112 2212 -313         ### Λc+ -> p K*0(892) 1.96%
2010010020:addChannel = 1 0.04500 100 2112 2224 -321         ### Λc+ -> Delta++ K- 1.08%
2010010020:addChannel = 1 0.09000 100 2112 102134 211        ### Λc+ -> Lambda(1520) K- 2.20e-3

### K*0(892) -> K- π+
313:onMode = off
313:onIfAll = 321 211
### for Λc -> Delta++ K-
2224:onMode = off
2224:onIfAll = 2212 211
### for Λc -> Lambda(1520) K-
102134:onMode = off
102134:onIfAll = 2212 321
