/production @davidrohr @martenole @shahor02 @chiarazampolli

/testing/detectors/CPV
/testing/detectors/EMC
/testing/detectors/FDD
/testing/detectors/FT0
/testing/detectors/FV0
/testing/detectors/HMP
/testing/detectors/ITS
/testing/detectors/MCH @aphecethce
/testing/detectors/MFT
/testing/detectors/MID @aphecethce
/testing/detectors/PHS
/testing/detectors/TOF @noferini @chiarazampolli
/testing/detectors/TPC @wiechula
/testing/detectors/TRD @martenole
/testing/detectors/ZDC
