# ### processes

ProcessLevel:all = off
HadronLevel:all = on
Check:event = off
# ColourReconnection:reconnect = off
# PartonLevel:MPI = off

### processes
### SoftQCD:inelastic = on

### decays
ParticleDecays:limitTau0 = on
ParticleDecays:tau0Max = 0.

### decays: no need to change anything as particles produced by external generator generator_pythia8_bkgBoltzmann are pions, which do not decay by default with PYTHIA8
