### beams
Beams:idA 2212                  # proton
Beams:idB 2212                  # proton
Beams:eCM 14000.                # GeV
#663:addChannel = 1 0. 0 1 -1
#9920443:addParticle = X(3872) 3 0 0 3.87196 0.00012
Onia:all = on
Random:setSeed = on

Charmonium:states(3PJ)    = 10441,20443,445,9920443
Charmonium:O(3PJ)[3P0(1)] = 0.05,0.05,0.05,0.05
Charmonium:O(3PJ)[3S1(8)] = 0.0031,0.0031,0.0031,0.0031
Charmonium:gg2ccbar(3PJ)[3PJ(1)]g    = off,off,off,on
Charmonium:qg2ccbar(3PJ)[3PJ(1)]q    = off,off,off,on
Charmonium:qqbar2ccbar(3PJ)[3PJ(1)]g = off,off,off,on
Charmonium:gg2ccbar(3PJ)[3S1(8)]g    = off,off,off,on
Charmonium:qg2ccbar(3PJ)[3S1(8)]q    = off,off,off,on
Charmonium:qqbar2ccbar(3PJ)[3S1(8)]g = off,off,off,on

### B0  -> J/psi X
511:onMode = off
511:onIfAny = 443

###  B+/-  -> J/psi X
521:onMode = off
521:onIfAny = 443

###B_s  -> J/psi X
531:onMode = off
531:onIfAny = 443

##Lambda_b -> J/psi X
5122:onMode = off
5122:onIfAny = 443


###J/psi -> mu+ mu-
443:onMode = off
443:onIfAll = 13 -13
443:onIfAll = 11 -11 //e+e-

###Psi(2S) -> mu+ mu-
100443:onMode = off
100443:onIfAll = 13 -13
100443:onIfAll = 11 -11 //e+e-

###Upsilon -> mu+ mu-
553:onMode = off
553:onIfAll = 13 -13
553:onIfAll = 11 -11 //e+e-

###Upsilon(2S) -> mu+ mu-
100553:onMode = off
100553:onIfAll = 13 -13
100553:onIfAll = 11 -11 //e+e-

###Upsilon(3S) -> mu+ mu-
200553:onMode = off
200553:onIfAll = 13 -13
200553:onIfAll = 11 -11 //e+e-

9920443:addChannel = 1 0 443 211 -211
9920443:onMode = off
9920443:onIfMatch = 443 211 -211
