### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.	

### adjust diffraction
### note that PYTHIA calculates the ND sigma via a
### 'remaining from total' formula: no need to put
### that in by hand

SigmaTot:mode 0
SigmaDiffractive:mode 0
SigmaTotal:sigmaTotal 78.6
SigmaTotal:sigmaEl 0.0
SigmaTotal:sigmaXB 10.625
SigmaTotal:sigmaAX 10.625
SigmaTotal:sigmaXX 9.78
SigmaTotal:sigmaAXB 0.0
