ProcessLevel:all on       

### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

ParticleDecays:limitTau0 on
ParticleDecays:tau0Max  10     


#decay eta -> e+ e- gamma, BR = 100%
221:oneChannel = 1 1 0 22 11 -11

#decay pi0 -> e+ e- gamma BR = 10%
111:oneChannel = 1 0.9 0 22 22
111:addChannel = 1 0.1 0 22 11 -11
