### main

Main:timesAllowErrors 2000
#allow more errors in the pythia.


### beams
Beams:idA 2212				# proton
Beams:idB 2212        # proton
Beams:eCM 13600       # GeV

### processes
# HardQCD:hardccbar on      # ccbar production
SoftQCD:inelastic = on

### decays
ParticleDecays:limitTau0 on
ParticleDecays:tau0Max 10.

### switch on color reconnection in mode 2 (https://arxiv.org/pdf/1505.01681.pdf)
Tune:pp = 14
ColourReconnection:mode = 1
ColourReconnection:allowDoubleJunRem = off
ColourReconnection:m0 = 0.3
ColourReconnection:allowJunctions = on
ColourReconnection:junctionCorrection = 1.20
ColourReconnection:timeDilationMode = 2
ColourReconnection:timeDilationPar = 0.18
StringPT:sigma = 0.335
StringZ:aLund = 0.36
StringZ:bLund = 0.56
StringFlav:probQQtoQ = 0.078
StringFlav:ProbStoUD = 0.2
StringFlav:probQQ1toQQ0join = 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref = 2.15
BeamRemnants:remnantMode = 1
BeamRemnants:saturation =5

### only semileptonic decays
### D+
411:oneChannel = 1 0.0868 0 -311 -13 14
411:addChannel = 1 0.0527 0 -313 -13 14
411:addChannel = 1 0.0019 0 -321 211 -13 14
### D0
421:oneChannel = 1 0.03418 0 -321 -13 14
421:addChannel = 1 0.02060 0 -323 -13 14
421:addChannel = 1 0.000421 0 -321 111 -13 14
421:addChannel = 1 0.00267 0 -211 -13 14
421:addChannel = 1 0.00145 0 -211 111 -13 14
### Ds
431:oneChannel = 1 0.0224 0 333 -13 14
431:addChannel = 1 0.0224 0 221 -13 14
431:addChannel = 1 0.0080 0 331 -13 14

### Lambdac
4122:oneChannel = 1 0.036 0 3122 -13 14
### chi_{c}^{+}
4232:oneChannel = 1 0.07 0 3322 -13 14
### chi_{c}^{0}
4132:oneChannel = 1 0.014 0 3312 -13 14
### Omega_{c}
4332:oneChannel = 1 0.01224 0 3334 -13 14

# Correct OmegaC decay length (wrong in PYTHIA8 decay table) (mm/c)
4332:tau0 = 0.08000000000
# Correct Lb decay length (wrong in PYTHIA8 decay table)
5122:tau0 = 4.41000e-01
