### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV #user can change eCM from command line.

### processes
WeakSingleBoson:ffbar2gmZ on # ffbar -> Z/gamma*
PhaseSpace:mHatMin 0.5
PhaseSpace:mHatMax 15
23:mMin 0.5
TimeShower:mMaxGamma 0.5
23:onMode off # switch off all Z0 decay channels. # User must switch back on Z0 going to l+ l- in C or ini. gamma* is tread as 23, too.

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.	
