### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes
SoftQCD:inelastic on		# all inelastic processes

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.	

### Add Lambda* decay 3124 102134
# id::all = name antiName spinType chargeType colType m0 mWidth mMin mMax tau0
3124:all =  Lambda1520 Lambda1520bar 4 0 0 1.51950 0.01560 1.47 1.60 0

### add Resonance decays absent in PYTHIA8 decay table and set BRs from PDG for other
3124:oneChannel = 1 1.000 0 3122 22
3124:onMode = off
3124:onIfMatch = 3122 22