### Force J/psi and psi(2S) -> e+ e-

### J/psi -> e+ e-
443:onMode = off		# switch off all decay channels
443:onIfAll = 11 -11		# switch on e+ e- decay channel

### psi(2S) -> e+ e-
100443:onMode = off		# switch off all decay channels
100443:onIfAll = 11 -11		# switch on e+ e- decay channel
