#switch off all quarkonia and B hadrons decays

443:mayDecay  off	# J/psi
100443:mayDecay  off	# psi(2S)
10441:mayDecay off   # chic0
20443:mayDecay off   # chic1
445:mayDecay off   # chic2
553:mayDecay off   # upsilon1S
100553:mayDecay off   # upsilon2S
200553:mayDecay off   # upsilon3S
