#switch off b-hadron decays

511:mayDecay  off	# B0
521:mayDecay  off	# B+
531:mayDecay  off	# B_s0
541:mayDecay  off	# B_c+
5112:mayDecay off	# Sigma_b-
5122:mayDecay off	# Lambda_b0
5132:mayDecay off	# Xi_b-
5232:mayDecay off	# Xi_b0
5332:mayDecay off	# Omega_b-
411:mayDecay  off       # D+
421:mayDecay  off       # D0
431:mayDecay  off       # D_s
4122:mayDecay off       # Lambda_c
4232:mayDecay off       # Xi_c
4132:mayDecay off       # Xi_c_0
4332:mayDecay off       # Omega_c
