#switch off all quarkonia and B hadrons decays

443:mayDecay  off	# J/psi
100443:mayDecay  off	# psi(2S)
10441:mayDecay off   # chic0
20443:mayDecay off   # chic1
445:mayDecay off   # chic2
553:mayDecay off   # upsilon1S
100553:mayDecay off   # upsilon2S
200553:mayDecay off   # upsilon3S
511:mayDecay off   # B0
521:mayDecay off   # B+
531:mayDecay off   # Bs
541:mayDecay off   # Bc
5122:mayDecay off   # Lambdab
5132:mayDecay off   # Xib+
5232:mayDecay off   # Xib0
5332:mayDecay off   # Omegab
