### beams
Beams:idA 1000822080		
Beams:idB 1000822080 			
Beams:eCM 5360. 		        # GeV
Beams:frameType = 1

### processes
SoftQCD:inelastic on 

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

#### Heavy ion settings
### Initialize the Angantyr model to fit the total and semi-includive
### cross sections in Pythia within some tolerance
HeavyIon:SigFitErr = 0.02,0.02,0.1,0.05,0.05,0.0,0.1,0.0

### These parameters are typicall suitable for sqrt(S_NN)=5TeV
HeavyIon:SigFitDefPar = 17.24,2.15,0.33,0.0,0.0,0.0,0.0,0.0

