###################################################
### author: Tiantian Cheng (tiantian.cheng@cern.ch)
### last update: March 2025
###################################################

Init:showChangedParticleData = on

4332:tau0 = 0.0803     # Omega_c0
4132:tau0 = 0.0455     # Xi_c0

4332:onMode = off
4132:onMode = off

# Omega_c0 (4332)
4332:oneChannel = 1 0.4 0  3334 211    # Omega- pi+
4332:addChannel = 1 0.4 0  3312 211    # Xi- pi+
4332:addChannel = 1 0.2 0  3312 321    # Xi- K+

# Xi_c0 (4132)
4132:oneChannel = 1 0.4 0  3312 211     # Xi- pi+
4132:addChannel = 1 0.4 0  3334 321     # Omega- K+
4132:addChannel = 1 0.2 0  3312 321     # Xi- K+

# Xi- -> Lambda pi-
3312:onMode = off
3312:onIfAll = 3122 -211

# Omega- -> Lambda K-
3334:onMode = off
3334:onIfAll = 3122 -321

# Lambda -> p pi-
3122:onMode = off
3122:onIfAll = 2212 -211

# Omega_c0
4332:onIfMatch = 3334 211
4332:onIfMatch = 3312 211
4332:onIfMatch = 3334 321
4332:onIfMatch = 3312 321

# Xi_c0
4132:onIfMatch = 3312 211
4132:onIfMatch = 3334 321
