# Decay configuration taken from MC/config/PWGHF/pythia8/generator/pythia8_charmhadronic_with_decays_Mode2_pp_ref.cfg
Init:showChangedParticleData = on
4332:tau0 = 0.0803     # OmegaC
4132:tau0 = 0.0455     # Xic0

# switch off all decay channels
4232:onMode = off
4332:onMode = off
4132:onMode = off

## Xic decays
### Ξc+ -> p K- π+ (35%)
4232:oneChannel = 1 0.17500 0 2212 -321 211        ### Ξc+ -> p K- π+ 6.18e-3
4232:addChannel = 1 0.17500 0 2212 -313            ### Ξc+ -> p antiK*0(892)
### Ξc+ -> Ξ- π+ π+ (35%) (set the same as Ξc+ -> p K- π+)
4232:addChannel = 1 0.35000 0 3312 211 211        ### Ξc+ -> Ξ- π+ π+ 2.86%
### Ξc+ -> p φ (10%)
4232:addChannel = 1 0.10000 0 2212 333             ### Ξc+ -> p φ
### Ξc+ -> sigma+ π+ π- (10%)
4232:addChannel = 1 0.12500 0 3222 -211 211        ### Ξc+ -> sigma+ π- π+ 1.37%
### Ξc+ -> Ξ*0 π+ (10%)
4232:addChannel = 1 0.12500 0 3324 211 # is this decay channel existing?

### Ξc+ -> p K- π+
4232:onIfMatch = 2212 321 211
### Ξc+ -> p antiK*0(892)
4232:onIfMatch = 2212 313
### Ξc+ -> p φ
4232:onIfMatch = 2212 333
### Ξc+ -> sigma+ π+ π- (10%)
4232:onIfMatch = 3222 211 211
### Ξc+ -> Ξ*0 π+, Ξ*0 -> Ξ- π+
4232:onIfMatch = 3324 211
### Ξc+ -> Ξ- π+ π+
4232:onIfMatch = 3312 211 211

## Xic0 decays
### add Xic0 decays absent in PYTHIA8 decay table
4132:oneChannel = 1 0.0143 0 3312 211               ### Xi_c()0 --> Xi- pi+ 0.01432524810113947

### Xic0 -> Xi- pi+
4132:onIfMatch = 3312 211
# Matching Exclusive Decay Channels:
# -------------------------------------------------------
# Xi_c()0 --> Xi- pi+                      0.01432524810113947
#   -> PDG Codes: 3312, 211
# Xi_c()0 --> Xi- pi+ pi+ pi-              0.04775082700379833
#   -> PDG Codes: 3312, 211, 211, -211

## OmegaC decays
### add custom OmegaC decays absent in PYTHIA8 decay table
4332:oneChannel = 1 0.5 0 3334 211
4332:addChannel = 1 0.5 0 3312 211

### Omega_c -> Omega pi
4332:onIfMatch = 3334 211
# Matching Exclusive Decay Channels:
# -------------------------------------------------------
# Omega_c()0 --> Omega- pi+                None
#   -> PDG Codes: 3334, 211
# Omega_c()0 --> Omega- pi+ pi0            1.79939678284182
#   -> PDG Codes: 3334, 211, 111
# Omega_c()0 --> Omega- pi- 2 pi+          0.30954954954955
#   -> PDG Codes: 3334, -211, [2], 211

### Omega_c -> Xi pi
4332:onIfMatch = 3312 211
# Matching Exclusive Decay Channels:
# -------------------------------------------------------
# Omega_c()0 --> Xi- Kbar0 pi+             2.12
#   -> PDG Codes: 3312, -311, 211
# Omega_c()0 --> Xi- K- 2 pi+              0.625932203389831
#   -> PDG Codes: 3312, -321, [2], 211

## Allow the decay of resonances in the decay chain
### for Xic0 -> pi Xi -> pi pi Lambda -> pi pi pi p 
### and Omega_c -> pi Xi -> pi pi Lambda -> pi pi pi p
3312:onMode = off
3312:onIfAll = 3122 -211
### for Omega_c -> pi Omega -> pi K Lambda -> pi K pi p
3334:onMode = off
3334:onIfAll = 3122 -321